<!-- Write home page HTML Here -->
<div class="title-container">
    <h2>{{title}}</h2>
</div>
<div class="restaurants">
    {{#each data}}
    <a class="rest-link" href="/restaurant/{{this.name}}">
        <div class="card">
        {{!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> --}}
            <div class="container">
                <h4><b>{{this.name}}</b></h4>
                <p>{{this.description.description}}</p>
                <p>Rating: {{this.avgRating}}/10</p>
                <p>Price Rating: {{this.description.priceRange}}/3</p>
            </div>
        </div> 
    </a>
    {{else}}

<article>
    <h1>There are no restaurants yet. :(</h1>
    <a href="/create">There are no items listed.</a>
</article>
{{/each}}

</div>

