<!-- Write home page HTML Here -->
<div class="title-container">
    <h2>{{title}}</h2>
</div>

<div class="title-container">
    <input class="search" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Restaurant" title="Search">
</div>
{{!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Restaurant" title="Search"> --}}

<div class="restaurants">
    {{#each data}}
    <a class="rest-link" href="/restaurant/{{this.name}}" name="{{this.name}}">
        <div class="card">
        {{!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> --}}
            <div class="container">
                <h4><b>{{this.name}}</b></h4>
                <p>{{this.description.description}}</p>
                <p>Rating: {{this.avgRating}}/10</p>
                <p>Price Rating: {{this.description.priceRange}}/3</p>
            </div>
        </div> 
    </a>
    {{else}}



<article>
    <h1>There are no restaurants yet. :(</h1>
    <a href="/create">There are no items listed.</a>
</article>
{{/each}}

</div>
<div class="title-container">
    <p>Terrapin Food Reviewer Labs is currently working on {{buzz}}</p>
    
</div>

<script>
function myFunction() {
    var input, filter, name;
    input = document.getElementById("myInput");
    filter = input.value.toLowerCase();
    names = document.getElementsByClassName("rest-link");
    for(var i = 0; i < names.length; i++){
        if(!names[i].name.toLowerCase().includes(filter)){
            names[i].hidden = true;
        } else {
            names[i].hidden = false;
        }
        
    }
}
</script>