<head>
</head>

<div class="title-container">
    <h2>{{data.name}}</h2>
    {{data.description.description}}
    <br></br>
    <p>Rating: {{data.avgRating}}/10</p>
    <button class="testbutton" type="button" id="createReview">Add a review</button> {{{body}}}
    <button class="testbutton" type="button" id="removeRes">Delete Restaurant</button>
</div>

<div class="review">
    {{#each revData}}
    <div class="reviewCard">
        <div class="reviewHead">
            <h4><b>Author: {{this.author}}</b></h4>
            <p>Rating: {{this.rating}}/10</p>
            <button class="testbutton2" value="{{this._id}}" type="button" id="removeRev">Delete Review</button>
        </div>
        <div class="reviewContent">
            <p>{{this.review}}</p>
        </div>
        <br></br>
    </div>
    {{/each}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
    $('#createReview').on('click', function () {
        window.location.href = "/restaurant/{{data.name}}/addReview";
    });
    $('#removeRes').on('click', function () {
        $.ajax({
            url: '/restaurant/{{data.name}}/removeRestaurant',
            type: 'DELETE',
            success: function (result) {
                window.location.href = "/";
            }
        });
    });

    $('#removeRev').on('click', function() {
        var id = $(this).val();
        $.ajax({
            url: '/restaurant/{{data.name}}/'+ id +'/removeReview',
            type: 'DELETE',
            success: function (result) {
                window.location.href = "/restaurant/{{data.name}}"
            }
        })
    });
    
    

</script>